<%= render 'header' %>

<h1>The answer to Life, the Universe and Everything?</h1>
<h3>Read Douglas Adams's books (forget about Dr Who, he is a jerk!)</h3>
<br />
<br />
<p><%= link_to 'Want to know the answer?', secrets_path %></p>


<table>
    <th><h3>List of User</h3></th>
    <th colspan="3"></th>
  </tr>

  <% @users.each do |user| %>
    <p><tr>
      <td width="300px"><%= user.email %></td>
      <td width="50px"><%= link_to 'Show', user_path(user) %></td>
      <td width="50px"><%= link_to 'Edit', edit_user_path(user) %></td>
      <td width="50px"><%= link_to 'Delete', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr></p>
  <% end %>
</table>
